.navbar-toggler:focus {
    box-shadow: none!important;
}
.sidebar {
    background: #ffffff!important;
    position: fixed;
}
.navbar .navbar-brand-wrapper {
    background: #ffffff!important;    
}
.main-panel {
    padding-left: 220px;
    width: 100%!important;
}
.sidebar-icon-only .main-panel {
    padding-left: 70px;
}
.sidebar .nav .nav-item.active > .nav-link {
    background: #3E5CBC!important;
}
.sidebar .nav .nav-item  > .nav-link {
    background: #fff!important;
}
.icon_home{
    bottom: 40px;
    right: 30px;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #fff;
    margin-right: 10px;
}
.icon_home icon {
    font-size: 24px;
    height: 26px;
}
.navbar .navbar-brand-wrapper{
    padding: 20px 0px 0 15px;
}
.nav-item .navbar-date-picker .input-group-prepend > .input-group-text {
    border-color: transparent;
    border-right: 1px solid #dee2e6;
    background: transparent;
    height: 100%;
}

.nav-item .navbar-date-picker .calendar-icon {
    color: #000000;
    font-size: 12px;
}
.nav-item .navbar-date-picker .input-group-prepend {
    height: 34px;
    border-color: transparent;
    border-radius: 6px 0 0 6px;
    background: r=transparent;
    border-right: 1px solid #dee2e6;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item .navbar-date-picker .form-control{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    border: none;
    border-left: none;
    max-width: 120px;
    height: 34px;
    border-radius: 0 6px 6px 0;
}
.icon_home.one{
    background: #9A9AE4;
}
.icon_home.two{
    background: #60C8E3;
}
.icon_home.three{
    background: #60D3B2;
}
.icon_home.four{
    background: #F97B7E;
}
.icon_home.five{
    background: #FEB456;
}
.dashbrd .card .card-body {
    padding: .6rem .8rem;
}
.navbar-toggler {
    background: #ebeced;
    padding:8px 10px!important;
    border-radius: 10px!important;
    margin-right: 10px;
}
.sidebar .nav .nav-item.active:hover > .nav-link i{
    color: #fff;
}
.sidebar .nav .nav-item.active:hover > .nav-link .menu-title, 
.sidebar .nav .nav-item.active:hover > .nav-link .menu-arrow{
    color: #fff;
}
.dashbrd .card {
    margin-right: 10px;
    flex-basis: 100%;
}
.dashbrd .card:last-child {
    margin-right:0px;

}
.home-tab .nav-tabs .nav-item .nav-link icon {
    margin-right: 10px;
    font-size: 26px;
}
.nav-item.txt_orange .nav-link  {
    color: #363636!important;
}
.nav-item.txt_green .nav-link {
    color: #363636;
}
.nav-item.txt_purple .nav-link {
    color: #363636;
}
.nav-item.txt_grey .nav-link {
    color: #363636;
}
.nav-item.txt_d_green .nav-link  {
    color: #363636!important;
}
.nav-item.txt_d_blue .nav-link  {
    color: #363636!important;
}
.nav-item.txt_red .nav-link  {
    color: #363636!important;
}
.nav-item.txt_yellow .nav-link  {
    color: #363636!important;
}
.nav-item.txt_def .nav-link  {
    color: #363636!important;
}

.nav-item.txt_orange .nav-link.active  {
    color: #FF9C1A!important;
    border-bottom: 2px solid #FF9C1A!important;
}
.nav-item.txt_green .nav-link.active {
    color: #41d3a9;
    border-bottom: 2px solid #41d3a9!important;
}
.nav-item.txt_purple .nav-link.active {
    color: #6969e1;
    border-bottom: 2px solid #6969e1!important;
}
.nav-item.txt_grey .nav-link.active {
    color: #b3b3b3;
    border-bottom: 2px solid #b3b3b3!important;
}
.nav-item.txt_d_green .nav-link.active  {
    color: #2CB742!important;
    border-bottom: 2px solid #2CB742!important;
}
.nav-item.txt_d_blue .nav-link.active  {
    color: #3E5CBC!important;
    border-bottom: 2px solid #3E5CBC!important;
}
.nav-item.txt_red .nav-link.active {
    color: #F87B7E!important;
    border-bottom: 2px solid #F87B7E!important;
}
.nav-item.txt_yellow .nav-link.active {
    color: #e9d73b!important;
    border-bottom: 2px solid #e9d73b!important;
}
.nav-item.txt_def .nav-link.active  {
    color: #363636!important;
}


.nav-item.txt_blue .nav-link {
    color: #363636;    
}
.nav-item.txt_blue .nav-link.active {
    color: #43c2e3;
    border-bottom: 2px solid #c1cdff!important;
}




.home-tab .nav-tabs .nav-item .nav-link.co i{
    margin-bottom: 5px;
    border-radius: 13px;
    padding: 8px;
    color: #ffffff;
    width: 40px;
    height: 40px;
}
.home-tab .nav-tabs .nav-item .nav-link.co i img{
    width: 100%;
}

.btn-orange i, i.btn-orange{
    background: #FF9C1A!important;
    border: 1px solid #FF9C1A!important;

}
.btn-blue i, i.comn.btn-blue, i.btn-blue{
    background: #60C8E3!important;
    border: 1px solid #60C8E3!important;

}
.btn-red i, i.btn-red{
    background: #F87B7E!important;
    border: 1px solid #F87B7E!important;

}
.btn-green i, i.comn.btn-green, i.btn-green{
    background: #60D3B2!important;
    border: 1px solid #60D3B2!important;

}
.btn-purple i, i.btn-purple{
    background: #9A9AE4!important;
    border: 1px solid #9A9AE4!important;

}
.btn-d-blue i{
    background: #3E5CBC!important;
    border: 1px solid #3E5CBC!important;

}
.btn-d-green i{
    background: #2CB742!important;
    border: 1px solid #2CB742!important;

}
.btn-d-yellow i, i.btn-d-yellow{
    background: #ffeb3b!important;
    border: 1px solid #ffeb3b!important;

}





.home-tab .btn i{
    color: #ffffff;
    /* margin-right: 0; */
}
/* .home-tab .btn {
    margin-right: 10px;
} */
.home-tab .btn-space .btn {

    margin-right: 10px;
}
.btn-search {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin: 0;
    padding: 6px 10px 2px;
    border-bottom: 1px solid #d3d3d3!important;
    font-size: 16px;
    line-height: 20px;
    border-top-right-radius:5px;
    border-bottom-right-radius: 5px;
}
.table-striped icon {
    font-size: 20px;
}

.btn-white {
    color: #fff!important;
}
.btn-pad{
    padding: 10px 30px!important;
}
.table_alt td {
    font-size: 0.812rem;
    padding: 15px;
}
.col-form-label{
    font-size: 0.812rem!important;
}
.home-tab .nav-tabs .nav-item .nav-link-co.active {
    background: transparent;
    /* color: #1F3BB3; */
    border-bottom: 2px solid #1F3BB3!important;
    border-right: 0px solid #dee2e6!important;
}

.home-tab .nav-tabs .nav-item .nav-link.co {
    padding: 12px 12px!important;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.home-tab .nav-tabs .nav-item {
    background: transparent;
    flex-grow: 1;
}
.home-tab .nav-activity .btn{
    text-align: center;
    padding: 8px 10px!important;
    margin: 0;

}
.home-tab .nav-tabs .nav-activity .nav-item {
    text-align: center!important;
    
}
.prof-card img{
    border-radius: 30%;
    margin-bottom: 20px;
}
.table td img {
    border-radius: 35%!important;
}

i.comn {
    margin-bottom: 5px;
    border-radius: 13px;
    padding: 8px;
    color: #ffffff;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    text-align: center;
    line-height: 20px;
}
/* i.comn {
    width: 100%;
} */
i.comn img{
    padding: 0;
    margin: 0!important;
    /* width: 10%; */
}
ul.custom{
    padding: 0;
    margin: 25px 0 0 0;
    text-align: left;
    list-style: none;

}
ul.custom li{
    padding: 0;
    margin: 0;
    text-align: left;
    list-style: none;
    height: 45px;
}
.title-border {
    border-bottom: 1px dashed #cbcbcb;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.btn-edit{
    position: absolute;
    right: -8px;
    top: -8px;
    /* background: #60C8E3!important;
    border: 1px solid #60C8E3!important; */
}
.btn-eye{
    position: absolute;
    right: -10px;
    top: -8px;
}
.btn-eye img{
    width: 90%;
}
.prof-card {
    position: relative;
}

.card-body.overview {
    /* margin-bottom: 20px; */
    padding-bottom: 0;
    padding-top: 10px!important;
}
.card.card-rounded.overviewtop{
    margin-bottom: 15px;
}
.nav-activity{
    border-bottom: 0px!important;
}

/* Timeline */
.vertical-timeline {
    width: 100%;
    position: relative;
    padding: 1.5rem 0 1rem;
    margin-left: 30px;
}

.vertical-timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 67px;
    height: 100%;
    width: 4px;
    background: #ffffff;
    border-radius: 0.25rem;
    border-right: 1px dashed #9F9F9F;
}

.vertical-timeline-element {
    position: relative;
    margin: 0 0 1rem;
}

.vertical-timeline--animate .vertical-timeline-element-icon.bounce-in {
    visibility: visible;
    animation: cd-bounce-1 .8s;
}
.vertical-timeline-element-icon {
    position: absolute;
    top: 0;
    left: 50px;
}

.vertical-timeline-element-icon .badge-dot-xl {
    box-shadow: 0 0 0 5px #fff;
}

.badge-dot-xl {
    width: 18px;
    height: 18px;
    position: relative;
}
.badge:empty {
    display: none;
}


.badge-dot-xl::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: .25rem;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -5px 0 0 -5px;
    background: #fff;
}

.vertical-timeline-element-content {
    position: relative;
    margin-left: 110px;
    font-size: .8rem;
}

.vertical-timeline-element-content .timeline-title {
    font-size: .8rem;
    text-transform: uppercase;
    margin: 0 0 .5rem;
    padding: 2px 0 0;
    font-weight: bold;
}

.vertical-timeline-element-content .vertical-timeline-element-date {
    display: block;
    position: absolute;
    left: -120px;
    top: 0;
    padding-right: 10px;
    text-align: right;
    color: #adb5bd;
    font-size: .7619rem;
    white-space: nowrap;
}

.vertical-timeline-element-content:after {
    content: "";
    display: table;
    clear: both;
}
/* .badge-danger {
    background: #F95F53;
} */
.icon_timeline{
        padding: 6px;
        border-radius: 10px;

}
.quote_value{
    margin-top: 30px;
}
.quotes-top {
    /* border-bottom: 1px solid #e5e5e5; */
    padding-bottom: 22px;
}
.quotes-top button{
    margin-bottom: 0px!important;
}
.table_alt {
    margin-top: 20px;
}
.home-tab td .btn{
    padding: 8px 8px;
    margin: 0!important;
    border: 0px solid #406cbb!important;
}
.home-tab td .btn i{
    margin-right: 0!important;
}
#paymentplan .col-form-label.mark{
    padding: 0;
    margin: 5px 0 0 10px;
    background: none;
}
.mtop-5{
    margin-top:5px;
}
.mright-10{
    margin-right:10px;
}
.wrapper-nav {
    position:relative;
    margin:0 auto;
    overflow:hidden;
    padding:5px;
    height:50px;
}
.scroller {
    text-align:center;
    cursor:pointer;
    display:none;
    padding:7px;
    padding-top:13px;
    white-space:no-wrap;
    vertical-align:middle;
    background-color:#fff;
    }

.active.hover-open .menu-title{
    color: #3E5CBC;
}
.table-striped .icon-eye{
    width: 30%;
}
.sales_db .nav-item .nav-link{
    padding: 12px 5px!important;
}
.btn-hold img {
    width:26%;
    margin-left: 10px;;
}
.icon_home img{
    width: 83%;
}
.icon_home{
   text-align: center;
}
.icon_home_sml {
    bottom: 36px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-right: 10px;
    display: flex;
    position: absolute;
}
.icon_home_sml.bg_grape {
    background: #BC3EA3;
}
.table > thead{
    background: #deeeef;
}


@media (max-width: 991px){
.main-panel {
    padding-left: 0px!important;
}
.dashbrd .card.card-rounded {
    margin-bottom: 10px;
}

}
